#title {
    background-color: #ff4c68 ;
}
h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
}
#1{
    padding: 10% 40%;
    background-color: #ff4c68 ;

}
.container-fluid{
    padding: 3% 15%;
}